<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GOLEMv0_1.Properties.Settings.GOLEMConnectionString"
            connectionString="Data Source=BESDBDEV1;Initial Catalog=GOLEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>